.socialimg {
    width: 6em;
    height: 6em;
}

h1 {
    color: #ff00ff;
    text-shadow: 0.05em 0.1em #FFFFFF;
}

a {
    color: white;
    text-decoration: none;
}    

body {
    background-color: #222222;
    color: #dddddd;
    height: 100vh;
}

.background {
    margin: auto;
    padding: 0;
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.main-container {
    font-size: 1.25em;
    font-weight: bold;
    vertical-align: middle;
    max-width: 70em;
    margin: auto;
    outline: 0.5em dashed #bb00bb;
    background-color: rgba(255, 0, 128, 0.5);
    border-radius: 2em;
}