.blueBox {
  padding: 20px;
  background-color: #333399;
  width: 300px;
  text-align: center;
  color: #ffffff;
}

.r2d2Image {
  width: 100%;
}

.r2d2Talk {
  font-style: italic;
}

td {
  padding: 1rem;
  background-color: #bbbbff;
}

thead td {
  background-color: #7777bb;
  color: #ffffff;
}