.App {
  text-align: center;
}

button {
  margin: 0.5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  width: 500px;
  height: 500px;
}

.red  {
  background-color: #ffaaaa;
}

.green {
  background-color: #aaffaa;
}

.red, .green {
  width: 100px;
  height: 100px;
}

